.toggle{
  position: relative;
  display: flex;
  width: 50px;
  height: 28px;
}
.toggle__left, .toggle__right{
  margin: 5px;
  transition: all 100ms ease-in;
}
.toggle__left{
  background: #B1CECE;
  border-radius: 15px 0 0 15px;
  flex-grow: 1;
}
.toggle__right{
  background: #BEBEBE;
  border-radius: 0 15px 15px 0;
  flex-grow: 5;
}
.toggle__center{
  position: absolute;
  left: 0;
  background: #4FA9A9;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.05), 0px 2px 2px 0px rgba(0,0,0,0.10), 0px 3px 3px 0px rgba(0,0,0,0.05);
  transition: left 100ms ease-in;
}
.toggle--checked .toggle__left{
  flex-grow: 5;
}
.toggle--checked .toggle__right{
  flex-grow: 1;
}
.toggle--checked .toggle__center{
  left: 25px;
}
